kestrel.ips=192.168.1.238:22133

analytics.queue.capacity=20000
analytics.queue.batch.size=19000
analytics.queue.interval=17373

redis.ips=192.168.1.136:6379

datasource.hibernate.showsql=false
datasource.main.master.ip=10.40.1.73
datasource.main.slave.ip=10.40.1.74
datasource.main.dbname=bshare

datasource.main.master.username=buzz_w
datasource.main.master.password=
datasource.main.slave.username=buzz_r
datasource.main.slave.password=

datasource.buzzads.master.ip=127.0.0.1
datasource.buzzads.slave.ip=127.0.0.1

datasource.buzzads.master.username=buzzinate_w
datasource.buzzads.master.password=
datasource.buzzads.slave.username=buzzinate_r
datasource.buzzads.slave.password=

hibernate.showsql=true
